.App {
  display: grid;
  grid-template-columns: minmax(250px, 1fr) minmax(auto, 2fr) minmax(250px, 1fr);
  grid-template-rows: auto 150px 1fr auto;
  grid-template-areas: "left title right" "left title right" "left content right ";
  height: 100vh;
  min-height: 475px;
}

.App>* {
  border: 2px solid rgb(0, 0, 0)
}

.title {
  grid-area: title;
  text-align: center;
}

.content {
  grid-area: content;
  padding-top: 10em;
}

.left-sidebar {
  grid-area: left;
}

.right-sidebar {
  grid-area: right;
  overflow: auto
}